@use "sass:math";

@use "../Button/color" as btnColor;
@use "../Button/config" as btnConfig;
@use "../../scss/mixins" as *;

$base-dimension: btnConfig.$height;
$stroke-width: .16em;
$color: btnColor.$content;

.ico-sound
{ 
    position: relative;
    
    &::before
    {
        content: '';
        border: {
            style: solid;
            width: $stroke-width;
            color: $color;
        }
        
        $top: $base-dimension * .28;
        $left: calc(50% - #{$base-dimension * .2});
        $width: $base-dimension * .08;
        $height: $width * 1.35;

        position: absolute;
        top: $top;
        left: $left;
        width: $width;
        height: $height;
    }

    &::after
    {
        content: '';
        border: {
            style: solid;
            width: $stroke-width $stroke-width $stroke-width 0;
            color: $color;
        }

        $top: $base-dimension * .25;
        $left: calc(50% - #{$base-dimension * .15});
        $width: $base-dimension * .3;
        $height: $width * .56;

        position: absolute;
        top: $top;
        left: $left;
        width: $width;
        height: $height;
        transform: perspective(#{math.div($base-dimension, 3)}) rotateY(-42deg);
    }
}

.ico-cross
{
    @include fill-parent;

    $position: translate($base-dimension * .4, $base-dimension *.4);

    &::before,
    &::after
    {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        display: block;
        width: $base-dimension * .75;
        height: $stroke-width * .5;
        background-color: $color;
        transform: $position rotate(45deg);
    }

    &::after
    {
        transform: $position rotate(-45deg);
    }
}