@use "../Button/color" as btnColor;
@use "../Button/config" as btnConfig;
@use "../../scss/mixins" as *;

$base-dimension: btnConfig.$height;
$stroke-width: .1vw;
$color: btnColor.$content;

.ico-sound
***REMOVED*** 
    position: relative;
    
    &::before
    ***REMOVED***
        content: '';
        border: ***REMOVED***
            style: solid;
            width: $stroke-width;
            color: $color;
      ***REMOVED***
        
        $top: $base-dimension * .28;
        $left: calc(50% - #***REMOVED***$base-dimension * .2***REMOVED***);
        $width: $base-dimension * .08;
        $height: $width * 1.35;

        position: absolute;
        top: $top;
        left: $left;
        width: $width;
        height: $height;
  ***REMOVED***

    &::after
    ***REMOVED***
        content: '';
        border: ***REMOVED***
            style: solid;
            width: $stroke-width $stroke-width $stroke-width 0;
            color: $color;
      ***REMOVED***

        $top: $base-dimension * .25;
        $left: calc(50% - #***REMOVED***$base-dimension * .15***REMOVED***);
        $width: $base-dimension * .3;
        $height: $width * .56;

        position: absolute;
        top: $top;
        left: $left;
        width: $width;
        height: $height;
        transform: perspective(#***REMOVED***$base-dimension / 3***REMOVED***) rotateY(-42deg);
  ***REMOVED***
***REMOVED***

.ico-cross
***REMOVED***
    @include fill-parent;

    $position: translate($base-dimension * .4, $base-dimension *.4);

    &::before,
    &::after
    ***REMOVED***
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: $base-dimension * .75;
        height: $stroke-width * .5;
        background-color: $color;
        transform: $position rotate(45deg);
  ***REMOVED***

    &::after
    ***REMOVED***
        transform: $position rotate(-45deg);
  ***REMOVED***
***REMOVED***