@use "../../scss/config/panel" as dim;
@use "../../scss/panel";

.ProgrammeInfo
***REMOVED***
  @include panel.styles;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 65vh;

  display: grid;
  grid-template: ***REMOVED***
    columns: 5% 7% auto;
    rows: 15% auto 12% 10%;
    areas: "a b b"
           ". c c"
           ". d e"
           ". f g";
***REMOVED***;
  gap: 1vw 3vw;

  .channel-id
  ***REMOVED***
    text-align: right;
    grid-area: a;
***REMOVED***

  .channel-title
  ***REMOVED***
    grid-area: b;
***REMOVED***

  .programme-title
  ***REMOVED***
    font-weight: bold;
    grid-area: c;
***REMOVED***

  .starts-label
  ***REMOVED***
    grid-area: d;
***REMOVED***

  .starts
  ***REMOVED***
    grid-area: e;
***REMOVED***

  .ends-label
  ***REMOVED***
    grid-area: f;
***REMOVED***

  .ends
  ***REMOVED***
    grid-area: g;
***REMOVED***

  .small
  ***REMOVED***
    font-size: 85%;
***REMOVED***

  .smaller
  ***REMOVED***
    font-size: 70%;
***REMOVED***
***REMOVED***

.hidden
***REMOVED***
  display: none;  //todo
***REMOVED***