@use "../../scss/config/panel" as dim;
@use "../../scss/panel";
@use "../../scss/config/breakpoints" as bp;
@use "../../scss/media" as *;

.ProgrammeInfo
***REMOVED***
  @include panel.styles;

  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8.8em;
  max-height: 90vh;

  display: grid;
  grid-template: ***REMOVED***
    columns: 5% 7% auto;
    rows: 1.5fr 5fr 1fr 1fr;
    areas: "a b b"
           ". c c"
           ". d e"
           ". f g";
***REMOVED***;
  gap: 1vw 3vw;

  @media (orientation: portrait)
  ***REMOVED***
    grid-template: ***REMOVED***
      columns: 5% 15% auto;
  ***REMOVED***
***REMOVED***

  .channel-id
  ***REMOVED***
    text-align: right;
    grid-area: a;
***REMOVED***

  .channel-title
  ***REMOVED***
    grid-area: b;
***REMOVED***

  .programme-title
  ***REMOVED***
    font-weight: bold;
    grid-area: c;

    @include mediaWidth(null bp.$mobile-big - 1)
    ***REMOVED***
      font-size: 85%;
  ***REMOVED***
***REMOVED***

  .starts-label
  ***REMOVED***
    grid-area: d;
***REMOVED***

  .starts
  ***REMOVED***
    grid-area: e;
***REMOVED***

  .ends-label
  ***REMOVED***
    grid-area: f;
***REMOVED***

  .ends
  ***REMOVED***
    grid-area: g;
***REMOVED***

  .small
  ***REMOVED***
    font-size: 85%;
***REMOVED***

  .smaller
  ***REMOVED***
    font-size: 70%;
***REMOVED***
***REMOVED***

.hidden
***REMOVED***
  display: none;  //todo
***REMOVED***