@use "../../scss/config/panel" as dim;
@use "../../scss/panel";
@use "../../scss/ico";

$ico-left: dim.$padding * .75;
$ico-top: dim.$padding * 1.3;

.MutedStatus
***REMOVED***
  @include panel.styles;

  position: absolute;
  bottom: dim.$bottom;
  left: dim.$bottom;

  padding-left: dim.$padding + 4vw;
  z-index: dim.$zIndex-top;
  
  @include ico.sound(
        $size: 11vw,
        $stroke-width: false,
        $color-bg: unquote('var(--color-panel-ico)'),
        $left: $ico-left,
        $top: $ico-top,
    );
***REMOVED***

$stroke-width: .3vw;
$base-dimension: 4vw;

.xico-cross
***REMOVED***
    $position: translateY(-50%);

    &::before,
    &::after
    ***REMOVED***
        content: '';
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 1.5vw;
        display: block;
        width: $base-dimension;
        height: $stroke-width;
        background-image: linear-gradient(var(--color-panel-ico) 50%, var(--color-panel-bg) 100%);
        transform: $position rotate(40deg);
  ***REMOVED***

    &::after
    ***REMOVED***
        transform: $position rotate(-40deg);
  ***REMOVED***
***REMOVED***