@use "../../scss/config/panel" as dim;
@use "../../scss/panel";
@use "../../scss/ico";
@use "../RemoteControl/media" as remoteMedia;

$ico-left: dim.$padding * .75;
$ico-top: dim.$padding * 1.3;

.MutedStatus
***REMOVED***
  @include panel.styles;
  
  position: absolute;
  bottom: dim.$bottom;
  left: dim.$bottom;

  @include remoteMedia.positionCenter
  ***REMOVED***
    bottom: auto;
    top: dim.$bottom;
    left: auto;
    right: 50%;
    transform: translateX(50%);
***REMOVED***

  padding-left: dim.$padding + 1.8em;
  z-index: dim.$zIndex-top;
  
  @include ico.sound(
        $size: 5em,
        $stroke-width: false,
        $color-bg: unquote('var(--color-panel-ico)'),
        $left: $ico-left,
        $top: $ico-top,
    );
***REMOVED***

$stroke-width: .15em;
$base-dimension: 1.9em;

.ico-cross--muted
***REMOVED***
    $position: translateY(-50%);

    &::before,
    &::after
    ***REMOVED***
        content: '';
        position: absolute;
        z-index: 1;
        top: 50%;
        left: .6em;
        display: block;
        width: $base-dimension;
        height: $stroke-width;
        background-image: linear-gradient(var(--color-panel-ico) 50%, var(--color-panel-bg) 100%);
        transform: $position rotate(40deg);
  ***REMOVED***

    &::after
    ***REMOVED***
        transform: $position rotate(-40deg);
  ***REMOVED***
***REMOVED***