@keyframes tvNoise
{
    0%
    {
        background-image: url('nosignal1.png');
    }

    50%
    {
        background-image: url('nosignal2.png');
    }

    100%
    {
        background-image: url('nosignal3.png');
    }
}

@keyframes zoomIn
{
    0%
    {
        transform: scale(.7);
    }

    100%
    {
        transform: scale(1);
    }
}

@keyframes zoomInOut
{
    0%
    {
        transform: scale(.9);
    }

    50%
    {
        transform: scale(1.2);
    }

    100%
    {
        transform: scale(1);
    }
}

@keyframes fadeIn
{
  0%
  {
    opacity: 0;
  }

  100%
  {
    opacity: 1;
  }
}