@use "sass:meta";
@use "../../scss/mixins" as *;
@use "color";

@include meta.load-css("animations");

$app-logo--w: 50vw;
$app-logo--h: 8vw;

.Overlay
***REMOVED***    
    @include fill-parent;
    display: flex;
***REMOVED***

.no-signal
***REMOVED***
    background: url('nosignal1.png');
    animation: tvNoise .35s infinite;
***REMOVED***

.app-logo
***REMOVED***
    display: flex;    
    width: $app-logo--w;
    height: $app-logo--h;
    margin: auto;
    transform: translateY(-4vw);
***REMOVED***

.sc-logo
***REMOVED***
    flex-grow: 3;
    background: ***REMOVED***
        repeat: no-repeat;
        image: url('sc-logo.png');
        size: contain;
        position: 100% 100%;
  ***REMOVED***

    &.first-run
    ***REMOVED***
        animation: zoomInOut 1.5s .5s;
        animation-fill-mode: backwards;
        position: relative;
        z-index: 1;    
  ***REMOVED***
***REMOVED***

.tv-ico
***REMOVED***
    flex-grow: 1;
    margin-left: 2vw;
    background: ***REMOVED***
        repeat: no-repeat;
        image: url('tv.png');
        size: contain;
  ***REMOVED***

    &.first-run
    ***REMOVED***
        animation: zoomInOut 1.5s 1.2s;
        animation-fill-mode: backwards;
        transform-origin: 0 100%;
  ***REMOVED***
***REMOVED***

.welcome
***REMOVED***
    position: absolute;
    top: calc(50% + #***REMOVED***$app-logo--h * .5***REMOVED***);
    left: 0;
    right: 0;
    text-align: center;
    color: color.$text;
    line-height: 1.5;

    animation: fadeIn 1.5s 1.5s;
    animation-fill-mode: backwards;

    &__heading
    ***REMOVED***
        font-size: 1.3vw;
        font-weight: bold;
  ***REMOVED***

    &__text
    ***REMOVED***
        font-size: 1.2vw;
  ***REMOVED***

    &__arrow
    ***REMOVED***
        $w: 25vw;

        stroke: color.$arrow;
        stroke-linecap: round;
        stroke-width: .2vw;
        width: $w;
        margin-top: 1vw;
        margin-left: $w*.75;

        animation: zoomIn 1.5s 2s, fadeIn 1.5s 2s;
        animation-fill-mode: backwards;

        transform-origin: 0 0;
  ***REMOVED***
***REMOVED***