@use "sass:meta";
@use "../../scss/config/breakpoints" as bp;
@use "../../scss/mixins" as *;
@use "../../scss/media" as *;
@use "app-logo" as appLogo;

@include meta.load-css("animations");

.Overlay
{    
    @include fill-parent;
    display: flex;
}

.no-signal
{
    background: url('nosignal1.png');
    animation: tvNoise .35s infinite;
}

.app-logo
{
    display: flex;    
    width: appLogo.$w;
    height: appLogo.$h;
    margin: auto;
    transform: translateY(appLogo.$h * -.5);

    @include mediaDesktop
    {
        width: appLogo.$w--desktop;
        height: appLogo.$h--desktop;
        transform: translateY(appLogo.$h--desktop * -.5);
    }
}

.sc-logo
{
    flex-grow: 5;
    background: {
        repeat: no-repeat;
        image: url('sc-logo.png');
        size: contain;
        position: 100% 100%;
    }

    &.first-run
    {
        animation: zoomInOut 1.5s .5s;
        animation-fill-mode: backwards;
        position: relative;
        z-index: 1;    
    }
}

.tv-ico
{
    flex-grow: 1;
    margin-left: 2vw;
    background: {
        repeat: no-repeat;
        image: url('tv.png');
        size: contain;
    }

    &.first-run
    {
        animation: zoomInOut 1.5s 1.2s;
        animation-fill-mode: backwards;
        transform-origin: 0 100%;
    }
}