@use "sass:math";

@mixin sound(
  $size,
  $stroke-width,
  $color-border: false,
  $color-bg: false,
  $base-top: 0,
  $top: 0,
  $left: 0,
) {
  &::before
  {
      content: '';
      @if $stroke-width
      {
        border: {
            style: solid;
            width: $stroke-width;
            color: $color-border;
        }
      }

      @if $color-bg
      {
        background-color: $color-bg;
      }
      
      $width: $size * .08;
      $height: $width * 1.35;

      position: absolute;
      top: $top;
      left: $left;
      width: $width;
      height: $height;
  }
  
  &::after
  {
      content: '';
      @if $stroke-width
      {
        border: {
            style: solid;
            width: $stroke-width $stroke-width $stroke-width 0;
            color: $color-border;
        }
      }

      @if $color-bg
      {
        background-color: $color-bg;
      }

      $width: $size * .3;
      $height: $width * .56;

      position: absolute;
      top: $top - $size * .03;
      left: $left;
      width: $width;
      height: $height;
      transform: perspective(#{math.div($size, 3)}) rotateY(-60deg);
  }
}