@mixin mouseover
{
    &:hover,
    &:focus
    {
        @content;
    }
}

@mixin circle
{
    border-radius: 50%;
}

@mixin fill-parent($padding: 0)
{
    position: absolute;
    top: $padding;
    left: $padding;
    right: $padding;
    bottom: $padding;
}

@mixin visually-hidden
{
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}