@use "config/colors/panel" as color;
@use "config/panel" as dim;
@use "config/breakpoints" as bp;
@use "media" as *;

@mixin styles
***REMOVED***
  --color-panel-bg: #***REMOVED***color.$bg***REMOVED***;
  --color-panel-text: #***REMOVED***color.$text***REMOVED***;
  --color-panel-ico: #***REMOVED***color.$ico***REMOVED***;

  padding: dim.$padding;  
  background-color: var(--color-panel-bg);
  color: var(--color-panel-text);

  font-size: 1.4rem;

  @include mediaWidth(400px)
  ***REMOVED***
    font-size: 1.6rem;
***REMOVED***
  
  @include mediaTablet
  ***REMOVED***
    font-size: 2.2rem;  
***REMOVED***

  @include mediaWidth(bp.$base)
  ***REMOVED***
    font-size: 2.2vw;
***REMOVED***
***REMOVED***