/*!
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,a***REMOVED***margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent***REMOVED***body***REMOVED***line-height:1***REMOVED***article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section***REMOVED***display:block***REMOVED***nav ul***REMOVED***list-style:none***REMOVED***input,select***REMOVED***vertical-align:middle***REMOVED***table***REMOVED***border-collapse:collapse;border-spacing:0***REMOVED***

/*blockquote,q***REMOVED***quotes:none***REMOVED***
blockquote:before,
blockquote:after,q:before,q:after***REMOVED***content:'';content:none***REMOVED***

ins***REMOVED***background-color:#ff9;color:#000;text-decoration:none***REMOVED***
mark***REMOVED***background-color:#ff9;color:#000;font-style:italic;font-weight:700***REMOVED***
del***REMOVED***text-decoration:line-through***REMOVED***
abbr[title],dfn[title]***REMOVED***border-bottom:1px dotted;cursor:help***REMOVED***
hr***REMOVED***display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0***REMOVED****/