@use "color";
@use "../../scss/config/panel" as dim;
@use "../../scss/panel";
@use "../../scss/ico";

$padding-left: dim.$padding + 4vw;
$padding-right: dim.$padding + 5vw;

.VolumeBar
***REMOVED***
  @include panel.styles;

  --color-volume-bar-bg: #***REMOVED***color.$bg***REMOVED***;

  position: absolute;
  bottom: dim.$bottom;
  left: 50%;
  transform: translateX(-50%);

  padding-left: $padding-left;
  width: 40vw;
  
  text-align: right;

  display: flex;
  justify-content: space-between;

  @include ico.sound(
        $size: 11vw,
        $stroke-width: false,
        $color-bg: unquote('var(--color-panel-ico)'),
        $left: dim.$padding * .75,
        $top: dim.$padding * 1.3,
    );
***REMOVED***

.bar ***REMOVED***
  flex-grow: 1;
  max-width: calc(100% - #***REMOVED***$padding-right - dim.$padding***REMOVED***);
  background-color: var(--color-volume-bar-bg);
***REMOVED***

.value
***REMOVED***
  --color-volume-bar-fill: #***REMOVED***color.$fill***REMOVED***;
  
  display: block;
  height: 1em;
  background: var(--color-volume-bar-fill);
***REMOVED***