@use "color";
@use "../../scss/config/panel" as dim;
@use "../../scss/panel";
@use "../../scss/ico";
@use "../RemoteControl/media" as remoteMedia;

$padding-left: dim.$padding + 2em;
$padding-right: dim.$padding + 2.5em;

.VolumeBar
{
  @include panel.styles;

  --color-volume-bar-bg: #{color.$bg};

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @include remoteMedia.positionRight
  {
    bottom: dim.$bottom;
  }

  @include remoteMedia.positionCenter
  {
    top: dim.$bottom;
  }

  padding-left: $padding-left;
  width: 40vw;
  
  text-align: right;

  display: flex;
  justify-content: space-between;

  @include ico.sound(
        $size: 5em,
        $stroke-width: false,
        $color-bg: unquote('var(--color-panel-ico)'),
        $left: dim.$padding * .75,
        $top: dim.$padding * 1.3,
    );
}

.bar {
  flex-grow: 1;
  max-width: calc(100% - #{$padding-right - dim.$padding});
  background-color: var(--color-volume-bar-bg);
}

.value
{
  --color-volume-bar-fill: #{color.$fill};
  
  display: block;
  height: 1em;
  background: var(--color-volume-bar-fill);
}