@use "sass:math";

@use "../../scss/config/breakpoints" as bp;

$width: 9.25em;
$width--min: 150px;
$height: 22.75em;
$height--portrait: 9.25em;
$height--min: math.div($height, $width) * $width--min;
$height--min-portrait: math.div($height--portrait, $width) * $width--min;
$right: .7em;
$bottom--on: -.5em;
$radius: .6em;

$bp-right-position: bp.$tablet;