.grid
***REMOVED***
    display: grid;
    gap: .5vw;
    grid-template: ***REMOVED***
        columns: repeat(6, 1fr);
        areas:
            "to to  .  . so so"
            "n1 n1 n2 n2 n3 n3"
            "n4 n4 n5 n5 n6 n6"
            "n7 n7 n8 n8 n9 n9"
            "m  m  n0 n0 ex ex"
            ".  .  up up .  . "
            "lt lt ok ok rt rt"
            ".  .  dn dn .  .";
  ***REMOVED***;
    align-items: center;

    $names: to, so, n1, n2, n3, n4, n5, n6, n7, n8, n9, n0, m, ex, up, lt, rt, dn, ok, l;

    @each $area in $names
    ***REMOVED***
        .grid-#***REMOVED***$area***REMOVED***
        ***REMOVED***
            grid-area: $area;
      ***REMOVED***
  ***REMOVED***

    &--h-center
    ***REMOVED***
        justify-self: center;
  ***REMOVED***
***REMOVED***