@use "color";
@use "dim";
@use "../../scss/mixins" as *;

$radius: .6vw;

.RemoteControl
***REMOVED***
    width: dim.$width;
    height: dim.$height;

    // $min-width: 120px;
    // $min-height: 2.43 * $min-width;
    // min-width: $min-width;
    // min-height: $min-height;
    
    position: absolute;
    right: dim.$right;
    //bottom: -dim.$height;
    bottom: -.5vw;
    box-sizing: border-box;
    
    padding: 1.1vw .6vw 3.5vw;

    background-color: color.$bg-main;
    border: 1px solid color.$border;
    border-radius: $radius;
    //transform: scale(.9);
    
    transition: transform .5s, box-shadow .5s, border-width .5s, bottom .5s;

    &::before
    ***REMOVED***
        content: '';
        @include fill-parent;
        border-radius: $radius;
        border: 2px solid color.$bg;
  ***REMOVED***

    &:hover
    ***REMOVED***
        transform: scale(1);
        box-shadow: 0 0 20px 15px color.$shadow;
        border-width: 2px;
        bottom: -.5vw;

        &::before
        ***REMOVED***
            border-width: 3px;
      ***REMOVED***
  ***REMOVED***
***REMOVED***

.content
***REMOVED***
    position: relative;
    z-index: 1;
    height: 100%;
    padding-bottom: 1vh;
***REMOVED***